body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background:#fff;
}
h1
{
	margin-top:30px;
	font-size:20px;
	font-weight:bold;
	position:center;
}
#searchCat
{
	font-size:20px;
	font-weight:bold;
	margin-left:85px;	
}
#searchval
{
	margin-left:10px;
}
#lat , #long , #beaconRef
{
	margin-left:90px;	
}
#submit
{
	margin-left:130px;
}
#srchBus
{
	font-size:16px;
	font-weight:bold;
	position:center;
}